{% if duplicates %}
    <div class="runner-container content-container">
        {% for runnerDuplicate in duplicates %}
        <div class="runner-duplicate-container js-runner-duplicate-container">
            <div class="runner-data">
                {{ runnerDuplicate.runner.getFirstname }} {{ runnerDuplicate.runner.getSurname }} {{ runnerDuplicate.runner.getAgeGroup.getBirthYear }} {{ runnerDuplicate.runner.getActualClub.getClubName }}
                {% for competitionData in runnerDuplicate.runner.getCompetitionDataList %}
                    <div>
                        {{ competitionData.getDate }}
                    </div>
                {% endfor %}
            </div>

            {% for runner in runnerDuplicate.duplicates %}
                <div>
                    {{ runner.getFirstname }} {{ runner.getSurname }} {{ runner.getAgeGroup.getBirthYear }} {{ runner.getActualClub.getClubName }}
                </div>
                {% for competitionData in runner.getCompetitionDataList %}
                    <div>
                        {{ competitionData.getDate }}
                    </div>
                {% endfor %}
                <button class="js-duplicat" data-duplicate-runner-id="{{ runner.getRunnerId }}"
                        data-original-runner-id="{{ runnerDuplicate.runner.getRunnerId }}">
                    Duplikat
                </button>
            {% endfor %}
            <button class="js-no-duplicat" data-original-runner-id="{{ runnerDuplicate.runner.getRunnerId }}">
                Keine Duplikate
            </button>
        </div>
        {% endfor %}
    </div>
{% endif %}